@import './partials/colors';
@import './partials/layout';
@import './partials/mixins';

footer {
  background-color: $background;
  color: white;
  width: 100%;
  position: fixed;
  bottom: 0px;
  text-align: center;
  padding: 15px;
}

.centrado {
  padding-left: 10%;
  padding-right: 10%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
}
