<!DOCTYPE html>
<html lang="es">

    {{> head }}

    <body>
        {{>navbar}}

        {{!-- <div class="jumbotron"> --}}
            404 Página no Encontrada :(
            {{!-- </div> --}}

        {{> footer }}

    </body>

</html>