<!DOCTYPE html>
<html lang="es">
    {{> head }}
    <body>
        {{> navbar}}
        {{!-- <div class="jumbotron"> --}}
            {{!-- <form method="GET" action="/user/login"> --}}
                <div class="centrado">
                    <div class="form-group">
                        <label for="">{{nombre}}</label>
                    </div>
                    {{!-- <div class="form-row"> --}}
                        <div class="form-group">
                            <label for="username">Usuario o e-mail</label>
                            <input type="text" class="form-control"
                                id="username" name="username"
                                placeholder="Usuario">
                            <a href="#">¿Olvidaste tu usuario?</a>
                        </div>
                        {{!-- </div> --}}
                    {{!-- <div class="form-row"> --}}
                        <div class="form-group">
                            <label for="password">Contraseña</label>
                            <input type="password" class="form-control"
                                id="password" name="password"
                                placeholder="*********"
                                aria-describedby="error">
                            <small id="error" class="form-text text-muted"></small>
                            <a href="#">¿Olvidaste tu contraseña?</a>
                        </div>
                        {{!-- </div> --}}
                    {{!-- <div class="form-row"> --}}
                        <button type="submit" id="btnlogin" class="btn
                            btn-primary">Iniciar Sesión</button>
                        {{!-- </div> --}}
                </div>
                {{!-- </form> --}}
            {{!-- </div> --}}

        <footer>
            Zynch - {{anio}}
        </footer>
        <script src="assets/js/login.js"></script>
        {{> footer }}
    </body>

</html>