
{{> head}}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Zynch</a>
</nav>

    <div class="centrado">
        <div class="form-group">
            <label for="" class="">{{nombre}}</label>
        </div>
        <div class="form-group">
            <img src="assets/img/uploads/users/{{img}}" alt="" class="user">
        </div>
        <div class="form-group">
            <label for="password_one">Password new</label>
            <input type="password" class="form-control"
            id="password_one" name="password_one"
            placeholder="Password new">
        </div>
        <div class="form-group">
            <label for="password_two">Password confirm</label>
            <input type="password" class="form-control"
            id="password_two" name="password_two"
            placeholder="Password confirm"
            aria-describedby="error">
            <small id="error" class="form-text text-muted"></small>
        </div>
        <div class="form-group">
            <button type="button" id="btnactualizapass" class="btn btn-primary">Actualizar contraseña</button>
            <input type="hidden" id="token" name="token" value="{{token}}">
        </div>
    </div>
{{> footer }}
